@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .card {
    margin-top: 150px;
    width: 350px;
    border: solid 2px black;
    border-radius: 5px;
  } 